{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Review website </title>
        {% endif %}
    </head>
    <body>
        <!---The technology sources-->
        <h3>Technology Sources</h3>

        <ul>
            {{ macro.displaySourceList(technology)}}
        </ul>

        <h3>Business Sources</h3>

        <ul>
            {{ macro.displaySourceList(business)}}
        </ul>
        <h3>Sports Sources</h3>
        <ul>
            {{ macro.displaySourceList(sport)}}
        </ul>

      </body>
</html>