<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best news article website </title>
    {% endif %}
</head>

<body>

    <body>
        <!-- technology sources  -->
        <h3> Technology_sources</h3>
        <ul>
            {% for technology_sources in technology %}
            <li>{{ technology_sources.id}}</li>
            {% endfor %}
        </ul>
        <!-- business sources -->
        <h3> Business Sources </h3>
        <ul>
            {% for business_sources in business %}
            <li>{{ business_sources.title}}</li>
            {% endfor %}
        </ul>
        <!-- sports sources -->
        <h3>Sports Sources</h3>
        <ul>
            {% for sport_sources in sports %}
            <li>{{sport_sources.title}}</li>
            {% endfor %}
        </ul>
    </body>

</body>

</html>