
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
    <body>
        <!-- Content block -->
        {% block content %}
      <div class="text-center">
          <!-- Top News -->
        <h3> Technology Sources </h3>
        <hr>
        <ul>
            {{ macro.displaySourceList( technology)}}
        </ul>
        <!--Business Sources  -->
        <h3> Business Sourses </h3>
        <hr>
        <ul>
            {{ macro.displaySourceList( business )}}
        </ul>
        <!-- Sports Sources -->
        <h3> Sports Sources </h3>
        <hr>
        <ul>
            {{ macro.displaySourceList( sport )}}
        </ul>
      </div>
{% endblock%}
      </body>


